/* ===== CONTACT PAGE ONLY ===== */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f8ff;
}

header {
    background: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    padding: 50px;
    text-align: center;
}

.contact-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    font-size: 18px;
}

footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}





.whatsapp-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #2b25d3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background: #1ebe5d;
    transform: scale(1.05);
}
