.whatsapp-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    background: #1ebe5d;
    transform: scale(1.05);
}
